fastapi
uvicorn
pydantic
google-generativeai
python-multipart
jinja2
python-dotenv
sqlalchemy
anyio
starlette
typing_extensions
click
annotated-types
colorama
h11
idna
sniffio
bcrypt
certifi
cffi
cryptography
greenlet
httpx
itables
numpy
pandas
pillow
psutil
pycparser
pyyaml
requests
scipy
tqdm
urllib3
websocket-client
websockets
